target
*.iml
.settings
.classpath
.project
*.log
*.ipr
*.iws
.idea
.DS_Store

/target
# Package Files #
*.war
*.ear
.teamcity/*
docker-compose.yml
Dockerfile_MA
Dockerfile_WorkBench
Makefile
src/integration-test/*